.container
  %form.form-signin{role:"form", action:"/iteration/view"}
    %h2.form-signin-heading
      Please enter your API token
    %div
      You can find your token at
      %a{href: "https://www.pivotaltracker.com/profile"}
        https://www.pivotaltracker.com/profile
    %input.form-control{type:"text", placeholder:"Pivotal Tracker API token", required:"required", autofocus:"autofocus", name:"api_token"}
    %button.btn.btn-lg.btn-primary.btn-block{type:"submit"}
      Show Storyboard
